# Maven/Java
resumeanalyzer/target/
*.log
*.class
*.jar
*.war
*.ear

# IDE
.idea/
resumeanalyzer/.idea/
resumeanalyzer-ui/.idea/
*.iml
*.ipr
*.iws
.vscode/
resumeanalyzer/.vscode/
resumeanalyzer-ui/.vscode/
resumeanalyzer-ui/dist-ssr
resumeanalyzer-ui/dist
*.local

# OS
*.DS_Store

# Environment
*.env

# Logs
resumeanalyzer-ui/logs
*.log
resumeanalyzer-ui/npm-debug.log*
resumeanalyzer-ui/yarn-debug.log*
resumeanalyzer-ui/yarn-error.log*
resumeanalyzer-ui/pnpm-debug.log*
resumeanalyzer-ui/lerna-debug.log*

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Others
resumeanalyzer-ui/node_modules/
resumeanalyzer/.github/
resumeanalyzer/src/main/resources/nlp_models/
